/* #region header*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header {
 padding: 17px 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
}

.opennav {
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
}

.opennav:target {
    opacity: 1;
    pointer-events: all;
}

.opennav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;
}

.opennav__link {
    text-decoration: none;
    color: #000;
}

.opennav__link_close-button {
    position: relative;
    left: 86%;
}

.opennav__link_close-button:before,
.opennav__link_close-button:after {
    display: block;
    position: relative;
    content: "";
    width: 20px;
    border: 2px solid black;
}

.opennav__link_close-button:before {
    transform: rotate(45deg);
    top: 4px;
}

.opennav__link_close-button:after {
    transform: rotate(-45deg);
}

.header__logo {
    display: flex;
    width: 104px;
    height: 51px;
    background: url('/images/bella_logo.png');
    background-repeat: no-repeat;
}

.header__navigation {
    width: 20px;
    height: 16px;
    margin: 23px 0;
    background-image: url("/images/icons/closed_menu.png");
}

.download-app {
    padding: 50px 1.5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FAFAFA; 
}

.download-app__header {
    font-size: 16px;
    font-weight: bold;
    color: #737373;
    margin-bottom: 17px;
}

.download-app__slogan {
    font-size: 40px;
    font-weight: bold;
    color: #252B42;
    margin-bottom: 17px;
}

.download-app__call {
    font-size: 28px;
    color: #737373;
    margin-bottom: 50px;
}

.download-app__button {
    box-sizing: border-box;
    width: 236px;
    height: 68px;
    border-radius: 34px;
    border: 1px solid #FA4A0C;
    margin: 17px auto;
    padding: 13px 0;
    text-decoration: none;
    font-size: 30px;

}

.download-app__button_orange {
    background-color: #FA4A0C;
    color: #FFF;
}

.download-app__button_white {
    background-color: #FFF;
    color: #FA4A0C;
}

/* #endregion*/
